.spinner{
    display: grid;
    place-self: center;
    min-height: 80vh;
}
.spin{
    width: 65px;
    height: 65px;
    place-self: center;
    border: 5px solid grey;
    border-radius: 50%;
    animation: rotate 1s infinite;
    border-top-color: rgb(20, 17, 17);

}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

